  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    border: 1px solid #999;
  }
  .expanded td:nth-child(2):before, .collapsed td:nth-child(2):before {
    display: inline-block;
    border: 1px solid #999;
    width: 14px;
    text-align: center;
    margin-right: 5px;
  }
  .expanded td:nth-child(2):before {
    content: "-";
  }
  .collapsed td:nth-child(2):before {
    content: "+";
  }
  tr[data-level="1"] td:nth-child(2) {
    padding-left: 20px;
  }
  tr[data-level="2"] td:nth-child(2) {
    padding-left: 40px;
  }
  a{
    cursor: pointer !important;
  }